@model proje3.Models.ApplicationUser
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="ortala ort">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
    </dl>

    @using (Html.BeginForm()) {     
    <div class="form-actions no-color">
    <input type="submit" value="Sil" class="btn btn-danger" /> |
        @Html.ActionLink("Listeye Geri Dön", "List", null, new { style = "white" })
    </div>
    
    }
</div>